html,body {

      width: 100%;
      height: 90%;
	  background-image: url(image/Backgournd1.png)
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Lato", sans-serif;
      font-weight: 900;
/*	  background-color: background: radial-gradient(closest-side, #3f87a6, #ebf8e1, #f69d3c);*/
	

    }

    .first-page {
      padding-top: 150px;
      padding-bottom: 150px;
      text-align: center;
      background-image: url(image/Backgournd1.png)
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }

    .second-page {
      padding-left: 80px;
      padding-bottom: 80px;
      background-image: url(image/Backgound.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
 .second-message {
      padding-top: 80px;
      padding-bottom: 80px;

      position: relative;

    }
 .second-page1 {
	 padding-right: 20px;
      padding-bottom: 80px;
      background-image: url(image/Backgound.jpg);
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
	 float: right;
    }

    .img-circle {
      margin-top: 100px;
      border-radius: 50%;
      width: 250px;
      height: 250px;

    }   
.second-message1 {
      padding-top: 80px;
      padding-bottom: 80px;
      position: relative;
    }

.third-page {
      padding-top: 80px;
      padding-bottom: 80px;
      background-image: url(image/Backgournd1.png);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
}
   .fourth-page {
      padding-top: 80px;
      padding-bottom: 80px;

      background-image: url("image/Backgound.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
     a:hover{
		 background-color: lightgreen;
	
    }

    .img {
      width: 100%;
      height: 100%;
      position: relative;
    }

 
	